section.picss .container{
    margin-top: 39px;
  
}




section.picss .top{
    display: flex;
    flex-direction: row;
  margin-left: 0;
  margin-top: 20px;

}
section.picss .bottom{
    margin: 20px;
}

@media screen and (max-width: 780px) {
  
    section.picss .top {
        margin-top: 0px;
        margin-left: 0px;
    }
    section.picss .bottom {
     max-width: 100%;
    }
    section.picss .image {
        max-width: 100%;
        height: auto;
       }
    
}