.aa{
    color: #f9b7ec;
}
.picture{
    width: 70px;
    /* border-radius: 30px; */
padding-left: 60px;


}
.one{
padding-left: 90px;
display: flex;
flex-direction: row;

}
.pp{
    margin-bottom: 290px;
}
.cc{
    font-size: 33px;
    text-align: center;
}
.card22{
    display: flex;
    flex-direction: row;   
    margin-left: 90px;
}